$: << File.dirname(__FILE__)
require 'firkin'

class ChangeMe < Formula
  extend Firkin
  url to_url __FILE__
  sha256 to_sha256 __FILE__
  desc 'AddADescription'
  version '1'
  
  depends_on 'INSERT/DEPENDENCIES'

  def install
    self.class.install_cmd('NAME-ME', bin, deps)
  end
end
